body {
  margin: 0;
  height: 100%;
  background: skyblue;
}

.dnd__zona {
  position: relative;
  display: block;
  margin: 20px auto;
  z-index: 999;
}

.set__width_height {
  z-index: -999;
}

.lorem-wrap {
  display: flex;
  position: absolute;
  background-color: green;
  z-index: 9999;
  box-shadow: 6px 6px 5px #888888;
}

.lorem {
  padding: 10px;
  background-color: #aaff66;
  position: relative;
  top: 0;
  text-align: center;
  cursor: move
}

.remove__button {
  display: flex;
  order: 1;
  background: #FFF;
  border: none;
}

